<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../css/mui.min.css" />
	<link rel="stylesheet" href="../css/app.css" />
</head>

<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span class="font14">返回</span></a>
		<h1 class="mui-title">评论管理</h1>
	</header>
	<div id="myapp" class="mui-content" v-cloak>
    <div class="comment-list mui-clearfix margin-top-10" v-for="(item,index) in listData" :data-index="index" :key="index">
    	<img class="mui-pull-left" :src="item.img_url || '../images/logo.png'" width="30px" height="30px">
    	<div class="mui-media-body">
    		<div class="comment-title">
          <span class="bold color333 font16">{{item.name}}</span>
          <span class="color666 font12 mui-text-right">{{item.servicename}}</span>
    		</div>
    		<p class='mui-ellipsis-2 color333'>{{item.tel}}</p>
    		<div class='comment-label'>
          <div>
            <i class="mui-icon iconfont icon-star font14" v-for="i in 5" :class="i <= item.star ? 'stars-color' : ''"></i>
          </div>
          <div class="font12 color999">{{item.time}}</div>
        </div>
    	</div>
    </div>
    <div class="mui-text-center mui-padding" v-if="listData.length == 0">
    	没有评论消息
    </div>
	</div>
<script type="text/javascript" src="../js/mui.min.js"></script>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
<script type="text/javascript" src="../js/app.js" ></script>
<script type="text/javascript">
	mui.init();
  var vm = new Vue({
  	el: '#myapp',
  	data: {
  		type: "1",
  		listData: [{
        img_url: "",
        name: "CrystalCry",
        servicename: "上门修指甲",
        tel: "评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论...",
        star: "4",
        time: "2018.10.31"
      },{
        img_url: "",
        name: "CrystalCry",
        servicename: "上门修指甲",
        tel: "评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论...",
        star: "5",
        time: "2018.10.31"
      },{
        img_url: "",
        name: "CrystalCry",
        servicename: "上门修指甲",
        tel: "评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论...",
        star: "2",
        time: "2018.10.31"
      }]
  	}
  })
	mui.plusReady(function (){
    $(".comment-list").on("tap",function() {
      openWindow("comment-detail.html","comment-detail")
    })
  })
</script>
</body>

</html>