<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../css/mui.min.css" />
	<link rel="stylesheet" href="../css/app.css" />
</head>

<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span class="font14">返回</span></a>
		<h1 class="mui-title" id="title">店铺名称</h1>
	</header>
	<div id="myapp" class="mui-content" v-cloak>
		<div class="mui-card mui-padding">
			<div class="mui-input-row deMargin">
				<label>营业状态</label>
				<div class="mui-switch mui-switch-blue" id="switch" :class="storData.opening_status == '1'?'':'mui-active'">
					<span class="mui-text-right">营业</span>
					<span class="mui-text-left">休息</span>
					<div class="mui-switch-handle"></div>
				</div>
			</div>
		</div>
		<div class="mui-card">
			<form class="mui-input-group no-border-before no-border-after">
				<div class="mui-input-row">
					<label>店铺LOGO</label>
					<div>
						<img :src="storData.img_url || '../images/logo.png'" width="40px" height="40px" />
					</div>
				</div>
				<div class="mui-input-row">
					<label>店铺名称</label>
					<input type="text" v-model="storData.name" disabled="disabled" placeholder="名称" >
				</div>
				<ul class="mui-table-view mui-table-view-chevron color666">
					<li class="mui-table-view-cell">
						<a data-href="address.html" id="address" class="mui-navigate-right">
							<span class="margin-right-5 color999">店铺地址</span>
						</a>
					</li><li></li>
				</ul>
				<div class="mui-input-row">
					<label>联系人</label>
					<input type="text" v-model="storData.contact_name" disabled="disabled" placeholder="姓名" >
				</div>
				<div class="mui-input-row">
					<label>联系电话</label>
					<input type="text" v-model="storData.phone" disabled="disabled" placeholder="电话" >
				</div>
				<ul class="mui-table-view mui-table-view-chevron color666 store">
					<li class="mui-table-view-cell">
						<a data-href="service-time.html" id="service-time" class="mui-navigate-right color333">
							<span>服务时间</span>
							{{storData.start_time}} - {{storData.end_time}}
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a data-href="bill-time.html" id="bill-time" class="mui-navigate-right">
							<span>接单时段</span>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a data-href="scope.html" id="scope" class="mui-navigate-right">
							<span>经营范围</span>
						</a>
					</li>
				</ul>
			</form>
		</div>
		<div class="mui-card">
			<ul class="image-list mui-clearfix">
				<li v-for="(item,index) in imageData" :id="item.id">
					<img :src="item.path || item.url" />
					<span><i class="mui-icon mui-icon-closeempty" @click="delImage(index)" :data-index="index"></i></span>
				</li>
				<li id="addImage">
					<i class="mui-icon mui-icon-plusempty"></i>
					<br />
					<small>上传图片</small>
				</li>
			</ul>
		</div>
		<p class="margin10 font12">*上传店铺门面照片</p>
		<div class="mui-content-padded margin-top-20">
			<button type="button" class="mui-btn mui-btn-royal mui-btn-block buttom-button" id="save">
				<i class="mui-icon mui-icon-checkmarkempty"></i>
					提交修改
			</button>
		</div>
	</div>
<script type="text/javascript" src="../js/mui.min.js"></script>
<script type="text/javascript" src="../js/vue.min.js" ></script>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
<script type="text/javascript" src="../js/app.js" ></script>
<script type="text/javascript" src="../js/uploader.js"></script>
<script type="text/javascript">
	mui.init();
	document.addEventListener('get_detail', function(event) {
		vm.storData = event.detail.storData;
	});
	mui.plusReady(function (){
	vm = new Vue({
		el: '#myapp',
		data: {
			storData: "",
			imageData: []
		},
		methods: {
			delImage: function(_index) {
//				console.log(JSON.stringify(vm.imageData[_index]))
				vm.imageData.splice(_index,1);
			}
		}
	})
	doAjax("/company/store/info",{_token: UserInfo.data._token},function(_data) {
//		console.log(JSON.stringify(_data));
		vm.storData = _data;
		vm.imageData = vm.storData.top_imgs_array;
		$("#title").html(vm.storData.name)
	})
	mui(".mui-table-view").on("tap","a",function () {
		var pageUrl = $(this).data("href");
		var pageId = $(this).attr("id");
		if(pageId) {
			openWindow(pageUrl,pageId,{data: vm.storData},false)
		}
	})
	$("#addImage").on("tap",function(){
		showActionSheet();
	})
	$("#switch").on('tap', function(event) {
		doAjax("/company/store/updateOpening",{_token: UserInfo.data._token},function(_data,_msg) {
			mui.toast(_msg);
			if(vm.storData.opening_status == "1") {
				vm.storData.opening_status = "2";
			} else {
				vm.storData.opening_status = "1";
			}
		})
	});
	$("#save").on("tap",function(){
		var top_imgs = [];
		for(var i=0;i<vm.imageData.length;i++) {
			if(vm.imageData[i].id) {
				top_imgs.push(vm.imageData[i].id);
			}
		}
		doAjax("/company/store/updateTopImgs",{_token: UserInfo.data._token,top_imgs: top_imgs.join()},function(_data,_msg) {
			mui.fire(plus.webview.getWebviewById("tab-main.html"), 'get_detail', {
				bannerData: vm.imageData
			});
			mui.toast(_msg);
			mui.back();
		})
  })
})
</script>
</body>

</html>